name: Server Production Workflow
on:
  push:
    branches:
      - main
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout the code
        uses: actions/checkout@v2

      - name: Docker login
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Build and push
        uses: docker/build-push-action@v4
        with:
          context: .
          file: ./docker/Dockerfile.server
          push: true
          tags: ${{ secrets.DOCKERHUB_USERNAME }}/automatex-server-prod:${{ github.sha }}

      - name: Deploy to VM
        uses: appleboy/ssh-action@v1.2.5
        env:
          IMAGE: ${{ secrets.DOCKERHUB_USERNAME }}/automatex-server-prod:${{ github.sha }}
        with:
          host: ${{ secrets.VM_HOST }}
          username: ${{ secrets.VM_USER }}
          key: ${{ secrets.SSH_PRIVATE_KEY }}
          script: |
            docker pull "$IMAGE"

            docker stop automatex-server || true
            docker rm automatex-server || true

            docker run -d \
              --name automatex-server \
              --restart unless-stopped \
              -p 8000:8000 \
              "$IMAGE"
